@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


* {
	margin: 0;
	font-family: 'Nanum Gothic', arial, sans-serif;
	list-style-type: none;
	text-decoration: none;
}

.main_wrap{
	flex-grow: 1
}

.main_wrap >h1 {
	margin-top: 250px;
	display: flex;
	justify-content: center;
}

#left_side_nav .nav_body .list_body a{
	color: black;
}

#left_side_nav .nav_body .list_body a:hover {
	color: gray;
	transition: all 0.5s;
}

.page_wrap{
	height:2000px;
	display: flex;
	flex-direction: row;
}

.side_nav {
	min-width: 235px;
	border-right: 0.1rem solid #f5f2f0;
	position: fixed;
	height:1000px;
	background-color: white;
}

.side_nav_hidden {
	visibility: hidden;
}

.nav_wrap {
	margin: 0 0.8rem;
	
}

#left_side_nav .nav_header {
	display: flex;
	flex-direction: row;
	margin-top :1rem;
	margin-bottom: 2.5rem;
}

#left_side_nav .userarea{
	flex-grow: 11;
}

#left_side_nav .userarea .logininfo{
	display: flex;
	flex-direction: row;
}

#left_side_nav .userarea .logininfo .userarea_text{
	display: flex;
	align-items: center;
	margin-left: 8%;
	font-weight: 550;
	color: black;
}

#left_side_nav .userarea .userarea_picture{
	border-style: hidden;
	border-radius: 50px;
}

#left_side_nav .back_btn_area{
	flex-grow: 1;
	display:flex;
	justify-content: flex-end;
	width: 50px;
	height: 50px;
}

#left_side_nav .back_btn_area .backbtn {
	background: url(/image/back_btn_img.png) no-repeat;
	width:100%;
	height:100%;
	padding: 0;
	border: none;
	cursor: pointer;
}

#left_side_nav .nav_body {
	margin-left: 0.8rem;	
}

#left_side_nav .list_title {
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: 0.7rem;
}

#left_side_nav .list_body {
	margin-bottom: 0.7rem;

}
/*#0059ab*/
#left_side_nav .list_body .list_text {
	padding: 0.5rem 0;
}